body{
    height: 100vh;
    display: flex;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.leftSide{
    background-image: url("pictures/halie-west-25xggax4bSA-unsplash.jpg");
    background-size: cover;
    width: 35%;
    position: relative;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo{
    display: flex;
    justify-content: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    height: 15%;
    width: 100%;
    position: absolute;
    top: 20%;
    padding: 2.5% 0;
}

.logo h1{
    align-self: center;
}

.leftSide p{
    position: absolute;
    bottom: 0;
    font-size: 12px;
}

.leftSide a{
    color: white;
}

.rightSide{
    padding-top: 4%;
    background-color: #f0f0f0;

}

.paragraph{
    font-weight: 900;
    padding-left: 2.5%;
    padding-bottom: 6%;
}

.createAccount{
    padding-left: 2.5%;
    padding-top: 5%;
}

.createAccount button{
    background-color: #596D48;
    color: white;
    font-weight: bold;
    padding: 1% 5%;
    border-radius: 5px;
    border-width: 0;
}

.createAccount p {
    padding-top: 2%;
}

.createAccount a{
    color: #596D48;
    text-decoration: none;
}

form{
    padding-left: 2.5%;
    background-color: white;
}

form div{
    display: inline-block;
    width: 35%;
    padding: 1%;
}

input{
    display: block;
}